version: '3.1'
services:
  postgres:
    image: "postgres:9.6"
    ports:
      - "5432"
    env_file:
      - .env
    volumes:
      - ./lifego:/var/lib/postgresql/data
  web:
    env_file: .env
    build: .
    ports:
      - "3002:3002"
    depends_on:
      - "postgres"
    command: nodemon --watch server app.js
